
.about-container{
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(4%2c 33%2c 52%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c397.174C73.016%2c382.315%2c107.764%2c300.45%2c157.336%2c244.819C193.664%2c204.05%2c226.713%2c163.51%2c251.547%2c114.878C277.444%2c64.166%2c297.873%2c12.715%2c304.728%2c-43.813C313.468%2c-115.884%2c334.862%2c-195.319%2c296.648%2c-257.047C257.655%2c-320.034%2c180.714%2c-359.245%2c106.762%2c-363.597C36.548%2c-367.729%2c-17.353%2c-306.997%2c-82.02%2c-279.333C-137.264%2c-255.7%2c-196.972%2c-248.091%2c-245.637%2c-212.846C-304.398%2c-170.289%2c-371.686%2c-126.249%2c-390.238%2c-56.108C-409.206%2c15.604%2c-376.343%2c90.363%2c-343.417%2c156.833C-311.246%2c221.779%2c-264.063%2c276.935%2c-204.683%2c318.492C-143.559%2c361.27%2c-73.107%2c412.052%2c0%2c397.174' fill='%23041f31'%3e%3c/path%3e%3cpath d='M1440 958.9839999999999C1520.735 947.78 1602.348 960.8389999999999 1677.821 930.056 1764.327 894.773 1851.594 849.74 1901.491 770.756 1954.3719999999998 687.049 1961.847 584.381 1958.713 485.42 1955.287 377.209 1949.595 261.526 1882.671 176.423 1814.708 89.99799999999999 1706.865 28.755999999999972 1596.97 25.410999999999945 1493.067 22.248000000000047 1421.152 127.017 1322.363 159.36700000000002 1228.156 190.21699999999998 1104.276 138.12599999999998 1035.313 209.336 966.79 280.092 1005.0889999999999 398.094 996.1700000000001 496.187 987.788 588.374 956.7139999999999 679.72 984.5160000000001 768.013 1014.179 862.217 1064.5230000000001 964.3389999999999 1155.605 1002.527 1245.877 1040.375 1343.044 972.4390000000001 1440 958.9839999999999' fill='%23042337'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    height: 36vw;
    padding: 25px;




}
.about-content{
    padding: 25px;
    margin-left: 40px;
    color: white;

}

.about-content h2{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2vw;

}


.about-text{
 
    max-width:60%;
    font-size: 20px;
    

}

.about-image{
    margin-left: 240px;
    width: 270px;
    height: 170px;
    background-image: url('../../assets/about.gif');
    border-radius: 15px;


}


